﻿<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Product
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-action="ShopIndex" asp-controller="Shops" asp-area="C_Area" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Shop Create</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="C_Area" asp-controller="Shops" asp-action="ShopList" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>ShopList</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="C_Area" asp-controller="Shops" asp-action="Labels" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Label List</p>
                    </a>
                </li>

            </ul>
        </li>


        <li class="nav-item">
            <a asp-action="SocialNetwork" asp-controller="SocialLinks" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>
                    Social Network
                </p>
            </a>
        </li>
    </ul>
</nav>